<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
  <h1>Weather DAta API</h1>
  <p>URL format: http://127.0.0.1:5001/api/v1/station/date</p>
  <p>Url Example one station for one date: http://127.0.0.1:5001/api/v1/10/1988-10-25</p>
  <p>Url Example for one station for all dates: http://127.0.0.1:5001/api/v1/10</p>
  <p>Url Example for one station for one year: http://127.0.0.1:5001/api/yearly/v1/10/1998</p>
  {{data|safe}}
</body>
</html>